<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>SCUTMALL | 商城</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/layui/css/modules/layer/default/layer.css}" media="all"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/layui/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/layui/layui.js}"></script>
    <script th:src="@{/layui/lay/modules/layer.js}"></script>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
</head>
<body class="site-home">
<!--包含 头部模块-->
<div th:replace="mall/common::head"></div>
<!--<style type="text/css">-->
    <!--.form-container .layui-col-md4{-->
        <!--margin-bottom: 15px;-->
    <!--}-->
    <!--.form-container .layui-form-label {-->
        <!--/*默认： 80*/-->
        <!--/*width: 120px;*/-->
    <!--}-->
    <!--.form-container .layui-input-block {-->
        <!--/*默认：110*/-->
        <!--/*margin-left: 150px;*/-->
    <!--}-->
<!--</style>-->
    <!--<fieldset class="layui-elem-field layui-field-title">-->
<!--<legend>地址选择</legend>-->
<!--</fieldset>-->

<!--<div class="layui-fluid form-container">-->
    <!--<div class="layui-card">-->
        <!--<div class="layui-card-body">-->
            <!--<form class="layui-form">-->

                <!--<div class="layui-form-item layui-row">-->


                    <!--<div class="layui-col-md4">-->
                        <!--<label class="layui-form-label">请选择省:</label>-->
                        <!--<div class="layui-input-block">-->
                            <!--<select name="quiz1" id="quiz1" lay-filter="test">-->

                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="layui-col-md4">-->
                        <!--<label class="layui-form-label">请选择市:</label>-->
                        <!--<div class="layui-input-block">-->
                            <!--<select name="quiz2" id="quiz2" lay-filter="test1">-->

                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="layui-col-md4">-->
                        <!--<label class="layui-form-label">请选择县/区:</label>-->
                        <!--<div class="layui-input-block">-->
                            <!--<select name="quiz3" id="quiz3">-->

                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->


                <!--</div>-->

            <!--</form>-->


        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<fieldset class="layui-elem-field" style="margin: 20px;">
    <legend>省市联动</legend>
    <div class="layui-field-box">
        <form class="layui-form layui-form-pane" action="javascript:;">
            <div class="layui-form-item">
                <label class="layui-form-label">选择地区</label>
                <div class="layui-input-inline">
                    <select name="P1" lay-filter="province">
                        <option>请选择</option>//加上这一行，先占个坑
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="C1" lay-filter="city">
                        <option>请选择</option>//加上这一行，先占个坑
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="A1" lay-filter="area">
                        <option>请选择</option>//加上这一行，先占个坑
                    </select>
                </div>
            </div>
        </form>
    </div>
</fieldset>

<fieldset class="layui-elem-field" style="margin: 20px;">
    <legend>选择结果</legend>
    <div class="layui-field-box">
        <form class="layui-form" action="javascript:;">
            <div class="layui-form-item">
                <label class="layui-form-label">您选择了：</label>
                <label class="layui-form-label pca-label-province"></label>
                <label class="layui-form-label pca-label-city"></label>
                <label class="layui-form-label pca-label-area"></label>
            </div>
        </form>
    </div>
</fieldset>

<script th:src="@{/layui/layui.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/jquery-1.11.0.js}"type="text/javascript" charset="utf-8"></script>
<script th:src="@{/layui/layui.all.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/js/citys.js}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">

    // layui.use('form', function(){
    //     var form = layui.form;
    //     form("select").render();
    // });
    pca.init('select[name=P1]', 'select[name=C1]', 'select[name=A1]');

</script>

</body>

</html>
