<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>SCUTMALL | 商城</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/layui/jquery-3.2.1.min.js}"></script>
    <link rel="stylesheet" href="/static/build/layui.css" media="all">
    <script th:src="@{/layui/layui.js}"></script>
    <style>
        #list {

        }
        .detail{
            width: 80% !important;
            min-height: 300px !important;
            overflow: auto !important;
            border-radius: 10px !important;
            border: 3px solid #c2c2c2 !important;
        }
    </style>
</head>
<body class="site-home">
<!--头部模块-->
<div th:replace="mall/common::head"></div>
<div class="layui-container" id="content">
    <!--订单列表-->
    <div class="layui-row">
        <div class="layui-col-md12"><h1 class="site-h1"><i class="fa fa-gift" style="color: #FF5722;"></i>
            &nbsp;我的地址</h1> <div class="tools">
            <button onclick="window.location.href='toAddAddress.html';" class="btn mini"><i class="fa fa-plus"></i>添加
            </button>
        </div></div>
    </div>
    <div class="layui-row">
        <div class="layui-row" style="overflow: auto;">
            <div class="layui-col-md12" style="overflow: auto;">
                <table class="layui-table" lay-skin="nob" style="min-width: 1140px;">
                    <thead>
                    <tr>
                        <th>收件人</th>
                        <th>省份</th>
                        <th>城市</th>
                        <th>城镇</th>
                        <th>街道</th>
                        <th>详细地址</th>
                        <th>电话</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="list">

                    </tbody>
                </table>
                <div id="test1"></div>
            </div>
        </div>

    </div>
    <script src="/static/build/layui.js"></script>
    <script>
        layui.use('laypage', function(){
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({
                elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                ,count: 50 //数据总数，从服务端得到
            });
        });
        //            <![CDATA[
        $(function () {
            loadOrder();
        });

        // 加载我的订单列表
        function loadOrder() {
            $.get("list.do", function (data) {
                if (data.state == 0) {
                    var tbody = $("#list");
                    appendToPage(data.data, tbody);
                } else {
                    layer.msg(data.message);
                }
            })
        }
        // 将数据渲染进页面
        function appendToPage(items, tbody) {
            $(items).each(function (index, item) {
                var tr = $("<tr></tr>");
                tr.append($("<td>" + item.id + "</td>"));
                tr.append($("<td width='200'>" + item.reciever + "</td>"));
                tr.append($("<td width='80'>" + item.province+ "</td>"));
                tr.append($("<td width='100'>" + item.city+ "</td>"));
                tr.append($("<td width='100'>" + item.town + "</td>"));
                tr.append($("<td width='80'>" + item.stress + "</td>"));
                tr.append($("<td width='80'>" + item.detail + "</td>"));
                tr.append($("<td width='80'>" + item.phone + "</td>"));
                var operter = $("<td ><button onclick='edit(" + item.id + ")' class='layui-btn layui-btn-radius layui-btn-primary'>编辑</button></td>");
                    operter.append($("<button onclick='recieve(" + item.id + ")' class='layui-btn layui-btn-radius layui-btn-danger'>删除</button>"));
                tr.append(operter);
                tbody.append(tr);

            });
        }

        // 获取订单详情
        function getDetail(id) {
            $.get("getDetail.do?orderId=" + id, function (data) {
                if (data.state == 0) {
                    var div = $("<div></div>");
                    var table = $("<table class='layui-table' style='overflow: auto;min-width: 650px' lay-skin='line' ></table>");
                    var tbody = $("<tbody></tbody>");
                    $(data.data).each(function (index, item) {
                        var tr = $("<tr style='max-height: 200px;'></tr>");
                        tr.append($("<td ><img class='img_responsive' src='" + item.product.image + "'/></td>"));
                        tr.append($("<td style='text-align: left;width: 200px;'><a style='color: #01AAED;text-decoration: underline;' href='/mall/product/get.html?id="+item.productId+"'>" + item.product.title + "</a></td>"));
                        tr.append($("<td>单价：" + item.product.shopPrice + "</td>"));
                        tr.append($("<td>数量：" + item.count + "</td>"));
                        tr.append($("<td>总价：￥" + item.subTotal + "</td>"));
                        tbody.append(tr);
                    });
                    table.append(tbody);
                    div.append(table);
                    layer.open({
                        type: 1,
                        title: false,
                        closeBtn: 0,
                        shadeClose: true,
                        skin: 'detail',
                        content: div.html()
                    });
                } else {
                    layer.msg(data.message);
                }
            });
        }

        //付款
        function pay(id) {
            $.get("pay.do?orderId=" + id, function (data) {
                if (data.state == 0) {
                    layer.msg("付款成功！");
                    window.setTimeout(function () {
                        window.location.reload();
                    },500);
                } else {
                    layer.msg(data.message);
                }
            });

        }

        //确认收货
        function recieve(id) {
            layer.confirm('您确认已经收到货了吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.get("receive.do?orderId=" + id, function (data) {
                    if (data.state == 0) {
                        window.setTimeout(function () {
                            window.location.reload();
                        },500);
                    } else {
                        layer.msg(data.message);
                    }
                });
            });

        }
    </script>
</div>
<!--底部-->
<div th:replace="mall/common::foot"></div>
</body>
</html>