<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title>SCUTMALL | 商城</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"/>
    <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/common.css}" rel="stylesheet" type="text/css"/>
    <script th:src="@{/layui/jquery-3.2.1.min.js}"></script>
    <link rel="stylesheet" href="/static/build/layui.css" media="all">
    <script th:src="@{/layui/layui.js}"></script>
    <link rel="shortcut icon" th:href="@{/image/favicon.ico}"/>
    <style>
        #list {

        }
        .detail{
            width: 80% !important;
            min-height: 300px !important;
            overflow: auto !important;
            border-radius: 10px !important;
            border: 3px solid #c2c2c2 !important;
        }
    </style>
</head>
<body class="site-home">
<!--头部模块-->
<div th:replace="mall/common::head"></div>
<div class="layui-container" id="content">
    <!--订单列表-->
    <div class="layui-row">
        <div class="layui-col-md12"><h1 class="site-h1"><i class="fa fa-gift" style="color: #FF5722;"></i>
            &nbsp;我的地址</h1> <div class="tools">
            <button onclick="window.location.href='toAdd.html';" class="layui-btn layui-btn-radius layui-btn-primary"><i class="fa fa-plus"></i>添加
            </button>
        </div></div>
    </div>
    <div class="layui-row">
        <div class="layui-row" style="overflow: auto;">
            <div class="layui-col-md12" style="overflow: auto;">
                <table class="layui-table" lay-skin="nob" style="min-width: 1140px;">
                    <thead>
                    <tr>
                        <!--<th>序号</th>-->
                        <th>收件人</th>
                        <th>省份</th>
                        <th>城市</th>
                        <th>区域</th>
                        <th>详细地址</th>
                        <th>电话</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="list">

                    </tbody>
                </table>
                <div id="test1"></div>
            </div>
        </div>

    </div>
    <script th:src="@{/js/jquery-1.10.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery-migrate-1.2.1.min.js}" type="text/javascript"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script th:src="@{/js/jquery-ui-1.10.1.custom.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.slimscroll.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.blockui.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.cookie.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.uniform.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/app.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.pagination.js}" type="text/javascript"></script>
    <script src="/static/build/layui.js"></script>
    <script th:inline="javascript" type="text/javascript">
        layui.use('laypage', function(){
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({
                elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                ,count: 50 //数据总数，从服务端得到
            });
        });
        //            <![CDATA[
        $(function () {
            loadAddress();
        });



        function edit(id) {
            window.location.href = "toEdit.html?id=" + id;
        }

        function del(id, btn) {
            if (!confirm("是否删除id为" + id + "的地址？")) {
                return;
            }
            $.ajax({
                url: "del.do?id=" + id,
                type: "get",
                success: function (result) {
                    if (result.state == 0) {
                        if (result.data == true) {
                            alert("删除成功！");
                            $(btn).parent().parent().fadeOut();
                        } else {
                            alert("删除失败！");
                        }
                    } else {
                        alert(result.message);
                    }
                }
            });
        }

        // 加载我的列表
        function loadAddress() {
            $.get("list.do", function (data) {
                if (data.state == 0) {
                    var tbody = $("#list");
                    appendToPage(data.data, tbody);
                } else {
                    layer.msg(data.message);
                }
            })
        }
        // 将数据渲染进页面
        function appendToPage(items, tbody) {
            $(items).each(function (index, item) {
                var tr = $("<tr></tr>");
                // tr.append($("<td width='80'>" + item.id + "</td>"));
                tr.append($("<td width='100'>" + item.receiver + "</td>"));
                tr.append($("<td width='100'>" + item.province+ "</td>"));
                tr.append($("<td width='100'>" + item.city+ "</td>"));
                tr.append($("<td width='100'>" + item.district + "</td>"));
                tr.append($("<td width='150'>" + item.detail + "</td>"));
                tr.append($("<td width='80'>" + item.phone+ "</td>"));
                var operter = $("<td ><button onclick='edit(" + item.id + ")' class='layui-btn layui-btn-radius layui-btn-primary'>编辑</button></td>");
                operter.append($("<button onclick='del(" + item.id + ",this)' class='layui-btn layui-btn-radius layui-btn-danger'>删除</button>"));
                tr.append(operter);
                tbody.append(tr);

            });
        }

    </script>
</div>
<!--底部-->
<div th:replace="mall/common::foot"></div>
</body>
</html>